/* body, html {
    height: 100%;
}

/* The hero image */
/* .hero-image { */
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: url("hero.jpg");

    /* Set a specific height */
    /* height: 50%; */


    /* Position and center the image to scale nicely on all screens */
    /* background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    scroll-behavior: fixed; */
/* } */

/* Place text in the middle of the image */
/* .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
profileImage{
  position: absolute;
} */
/* a {
  padding-left: 40px;
  font-weight: bold;
  font-size: 30px;
  outline-style:solid;
}

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: White;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
} */

/* body {margin:0;}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  outline-style:solid;
  color: white;
}

.navbar a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
} */


/* * {
    box-sizing: border-box;
} */

/* Create three equal columns that floats next to each other */
/* .column {
    float: left;
    width: 32.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    /* padding-left: 45px; */
}

/* Clear floats after the columns */
 /* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.show{
  float: right;
}
.bgimage {
  width:100%;
  height:500px;
  background: url('hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:#FF8F00;
  text-shadow:2px 2px #333;
}
.text1{
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2B3A42;
}
.text3{
  position:absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text{
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2B3A42;
}
.bgimage2 {
  width:100%;
  height:500px;
  background: url('research.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage2 h5 {
  color:#FF8F00;
  text-shadow:2px 2px #333;
}
.bgimage3 {
  width:100%;
  height:500px;
  background: url('courses2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage3 h5 {
  color:#FF8F00;
  text-shadow:2px 2px #333;
}
.bgimage4 {
  width:100%;
  height:500px;
  background: url('exp2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage4 h5 {
  color:#FF8F00;
  text-shadow:2px 2px #333;
}
.container{

}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.profile{
  position: absolute;
}
/* .cardBack{
  background-color: #BDD3DE;
} */

a {
    color: inherit;
}


.main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 500px;
}
/* .background1 {
    background-color: #ffe3ae;
}
.background2 {
    background-color: #FDECC4;
} */
/* .title-bar {
    height: 50px;
    width: 100px;
    background-color: #ffa834;
} */

.inline {
    display: inline;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.center {
    justify-content: center;
}
.left-col {
    width: 25%;
}
.middle-col {
    width: 50%;
    margin: 0px 20px;
}
.right-col {
    width: 25%;
    overflow: hidden;
}
.col-pic {
    width: 100%;
    max-width: 1113px;
    max-height: 355px;
    align-self: center;
}
.course {
    margin: 0px 0;
    border-bottom: 1px solid black;
    padding: 60px 0;
}
.course:last-child {
    border-bottom: none;
}
.group-heading {
    margin-top: 15px;
    padding-bottom: 5px;
}
.group-heading:first-child {
    margin-top: 0;
}
.title-section {
    cursor: pointer;
}
<<<<<<< HEAD
.text{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.resume-button-text{
    text-align: right;
    position: absolute;
    top: 8%;
    left: 7%;
    transform: translate(-50%, -50%);
    color: white;

}
/* .container{
    background-color: #ffe3ae;

} */



/* .container-2{
    background-color: #ffd783;

} */

.bot-marg {
    margin-bottom: 20px;
}

.align-list {
    padding-left: 20px;
}

/* .body {
    background-color: #ffe3ae;
    font-family: "Helvetica";
}

.body-2 {
    background-color: #ffe3ae;
    font-family: "Helvetica";
} */

.a {
    color: white;
    text-decoration: none;
}

.pull-right {
    float: right;
=======

.image {
  float: right;
}
