<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="savoy.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="http://webdesign9.in/js/jquery.js"></script>
  <script src="http://webdesign9.in/js/bootstrap.min.js"></script>
</head>
<header>
<section class="bgimage6">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: White;" href="savoy">April Savoy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link active" style="color: #EA8859;" href="savoy">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" style="color: #EA8859;" href="grants">Research & Grants</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" style="color: #EA8859;" href="courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" style="color: #EA8859;" href="exp">Experience</a>
      </li>
        <li class="nav-item">
        <a class="nav-item nav-link" style="color: #EA8859;" href="blog2">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="savoyresume.pdf" class="btn btn-outline-light"download="proposed_file_name">Download My Resume</a>
    </form>
  </div>
</nav>

  <div class="container-fluid">
    <div class="text-center">
        <div class="row">
      <div class="text" style="color: white;">
        <h1><b>Blog</b></h1><br>
          <h3>"Come read about all the interesting things I am doing right now." - April Savoy</h3>
          
      </div>
    </div>
  </div>
</div>
<div>
</section>
</header>
  <body>
    <section style="background: #F0EBDF">
<div class="container">
     
      <!-- Main Content -->
    <div class="index-content">
    <div class="container">
    <div class="col-sm-12">
          <h1>Newest Posts</h1>
          <svg width="300" height="10">
     <rect width="100" height="25" style="fill:rgb(234,136,89);stroke-width:0;stroke:rgb(0,0,0); " />
   </svg>    
         </div>
            <div class="row">
            <a href="post">
                <div class="col-lg-6">
                    <div class="card">
                        <img src="agile-pen.jpg">
                        <h4>Intro To Agile</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="post" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            <a href="post">
                <div class="col-lg-6">
                    <div class="card">
                        <img src="scrum-meeting.png">
                        <h4>Take a Look at These New Agile Techniques</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <a href="post" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            
                </div>
        <div class="row">
            <a href="post">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="scrum-manager.png">
                        <h4>What I learned at Agile Con 2018</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <a href="post" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            <a href="post">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="http://cevirdikce.com/proje/hasem-2/images/finance-2.jpg">
                        <h4>Funding Secured</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="post" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            <a href="post">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="campus-center.jpg">
                        <h4>New Courses SP19</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="post" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
                </div>
        <div class="row">
            <div class="col-sm-4 pull-right">
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-2">
            <a href="post" class="blue-button2">Older Posts &#x2192</a>
            </div>
        </div>

    </div>
</div>
    <br>
    <br>
  </section>
 
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-md-6" style="background-color: #6D909C;">
              <br>
  <h1>My Info</h1>
  <svg width="400" height="10">
  <rect width="100" height="25" style="fill:rgb(234,136,89);stroke-width:0;stroke:rgb(0,0,0); " />
  </svg>
   <br>
  <br>
  <h7>First Name:</h7>
  <h7>April</h7>
  <br>
  <br>
  <h7>Last Name:</h7>
  <h7>Savoy</h7>
  <br>
  <br>
  <h7>Email:<h7>
     <a style="color:#F0EBDF;" href="mailto:asavoy@iupui.edu">asavoy@iupui.edu</a>
    <br>
    <br>
    <h7>Phone Number:</h7>
    <a style="color: #F0EBDF;" href="tel:+11122233344">111 - 222 333 EXT44</a>
    <br>
    <br>
    <h7>Linkedin:</h7>
  <a style="color:#F0EBDF;"href="https://www.linkedin.com/in/april-savoy-phd-5735212/">View my profile</a>

        </div>
        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0" style="background-color: #EA8859">
            <br>
          <h1>Contact Me</h1>
          <svg width="400" height="10">
          <rect width="100" height="25" style="fill:rgb(109,144,156);stroke-width:0;stroke:rgb(0,0,0); " />
          </svg>
           <br>
          <br>
          <form>
            <div class="form-group">
              <label for="name">Full Name:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <!-- <div class="form-group">
              <label for="textbox">Comments:</label>
              <input type="text" class="form-control" id="text">
            </div> -->
            <div class="form-group">
      <label for="exampleFormControlTextarea1">Comments:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>

  </footer>
  </body>
  </html>
