<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>April Savoy</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/queries.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>
    
<header>
    <section class="bgimage2" id="bgimage2">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="home-navbar" style="z-index: 1000;">
            <a class="navbar-brand" style="color: White;" href="index">April Savoy</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link active" style="color: white;" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link active" style="color: white;" href="publications">Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link active" style="color: white;" href="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link active" style="color: white;" href="blog">Blog</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="images/savoyresume.pdf" class="btn btn-outline-light" target="_blank">Download My Resume / CV</a>
                </form>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="text-center">
                <div class="row">
                    <div class="text" style="color: #252C3F;">
                        <h1><b>Publications</b></h1><br>
                        <h4>Check out my extensive list of cited materials from my academic and professional career</h4>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section style="z-index: 900">

        <div id="mySidenav" class="sidenav" style="z-index: 10000;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#btn-scroll-1">Books</a>
            <a href="#btn-scroll-2">Journal Articles</a>
            <a href="#btn-scroll-3">Proceedings</a>
            <a href="#btn-scroll-4">Presentations</a>
            <a href="#btn-scroll-5">Media Articles</a>
            <a href="#btn-scroll-6">Invited Talks</a>
            <a class="nav-item nav-link active" href="#bgimage"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
        </div>

        <span class="menu-toggle-2" style="font-size:20px; cursor:pointer; z-index: 900; background: white; opacity: 0.7; border: 2px solid black; border-radius: 25px; padding-left: 10px; padding-right: 10px; padding-bottom: 4px;" onclick="openNav()">&#9776;&nbsp;Scroll</span>

    </section>

    <section id="navbar-right" style="z-index: 1000;">
        <div class="header-links" id="navbar-links">
            <a href="mailto:asavoy@iupui.edu" class="fa fa-envelope-square"></a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/april-savoy-phd-5735212/" class="fa fa-linkedin-square" target="_blank"></a>&nbsp;&nbsp;
            <a href="https://www.researchgate.net/profile/April_Savoy" class="footer-logo" target="_blank"><img src="images/logos/research-gate.png"></a>&nbsp;&nbsp;
            <a href="https://www.regenstrief.org/person/april-savoy-phd/" class="footer-logo" target="_blank"><img src="images/logos/regenstrief-logo-square.png"></a>

            <!--<div id="copyright-footer"><i class="fa fa-copyright"></i> April Savoy, PHD</div>-->
        </div>
    </section>
</header>
    


<body>
    <section style="background: #F9F9F9">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="btn-scroll-1" class="btn-scroll">Books and Chapters: 3</h1>
                    <svg width="300" height="10">
                        <rect width="100" height="25" style="fill:rgb(217,162,137);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>
                </div>
                
                <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Holden, R., Voida, S., <strong>Savoy,  A.</strong>, Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                            <li>Onal,  E.,  <strong>Savoy,  A.</strong>,  and  McDonald,  S.  (2012,  July).  Augmented  navigation:  A  cognitive  approach.  In  K.  M.  Stanney  &amp;  K.  S.  Hale  (Eds.),  Advances  in  Cognitive  Engineering  and  Neuroergonomics(13-22).  Boca  Raton,  FL:  CRC Press. </li>
                            <li>Liao,  H.,  Guo,  Y.,  <strong>Savoy,  A.</strong>,  and  Salvendy,  G.  (2009).  Content  preparation  guidelines   for   the   web   and   information   appliances:   Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                        </ul>
                    </div>
                    
                </div>
                
                
                <br>
                <br>
            </div>
        </div>
    </section>

    <section style="background: #C3C3E5;">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="btn-scroll-2" class="btn-scroll">Journal Articles (Peer Reviewed): 11</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:rgb(68, 50, 102);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>
                        
                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Militello, L., <strong>Savoy, A.</strong>, Patel, H., Diiulio, J., Flanagan, M., Daggy, J., Russ, A. and   Weiner,   M.   (2018). Hidden   complexities   in   information   flow   between primary and specialty care clinics.  Cognition, Technology, and Work, 1-10. </li>

                            <li><strong>Savoy, A.</strong>, Militello, L., Patel, H., Diiulio, J., Flanagan, M., Daggy, J., Russ, A., Weiner,  M.,  and  Saleem,  J.  (2018).  A cognitive  systems  engineering  approach  to  improve  the  usability  of  electronic  order  forms  for  medical  consultations.  Journal of Biomedical Informatics. </li>

                            <li><strong>Savoy, A.</strong>, Patel, H., Flanagan, M., Daggy, J., Russ, A. and Weiner, M. (2018). Comparative  usability  evaluation  of  consultation  order  templates  in  a  simulated primary care environment. Applied Ergonomics, 73, 22-32. </li>

                            <li>Saleem,  J.  J., <strong>Savoy,  A.</strong>,  Etherton,  G.,  and  Herout,  J.  (2018).   Investigating  the  need  for  clinicians  to  use  tablet  computers  with  a  newly  envisioned  electronic  health  record. International  Journal  of  Medical  Informatics, 110(2), 25-30.  </li>

                            <li><strong>Savoy, A.</strong>, Patel, H., Flanagan, M., Weiner, M., and Russ, A. (2017). Systematic heuristic   evaluation   of   computerized   consultation   order   templates:   Clinicians’  and  Human  Factors  Engineers’  Perspectives. Journal  of  Medical Systems.  </li>
                            
                            <li><strong>Savoy,   A.</strong> and   Salvendy,   G.   (2016).   Factors   for   Customer   Information   Satisfaction:   User   Approved   and   Customer   Validated.   International Journal of Human-Computer Interaction.</li>

                            <li>McLeod,   A.   &amp;   <strong>Savoy,   A.</strong>   (2015).   The   building   blocks   for   enhanced   technological literacy. The Career and Technical Education Journal.</li>

                            <li>Guo,  Y.,  <strong>Savoy,  A.</strong>,  and  Byrd,  K.  (2009)  Development  and  validation  of  an  instrument to evaluate the content effectiveness of video games:  A pilot study. Theoretical Issues in Ergonomics Science, 10(2), 107-133. </li>

                            <li><strong>Savoy, A.</strong>, Proctor, R. W., &amp; Salvendy, G. (2009). Information retention from PowerPointTM and traditional lectures. Computers and Education, 52(4), 858-867.  </li>

                            <li><strong>Savoy,  A.</strong>  and  Salvendy,  G.  (2008).  Foundations  of  content  preparation  for  the  web. Theoretical Issues in Ergonomics Science, 9(6), 501-521. [Based on Dissertation]  </li>

                            <li><strong>Savoy,  A.</strong>,  Guo,  Y.,  and  Salvendy,  G.  (2008). Effects  of  detectability  and  importance   of   usability   problems   on   sample   size   requirements.   International Journal of Human-Computer Interaction, 25(5), 430-440.   </li>
                        </ul>
                    </div>
                    
                </div>
                        
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>
        
    <section style="background: #F1F0FF">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="btn-scroll-3" class="btn-scroll">Conference Proceedings (Peer Reviewed): 9</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:rgb(195, 195, 229);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Militello,   L.   <strong>Savoy,   A,</strong> .Flanagan,   M.,   Wu,   J.,   Adams,   J.,   Rehman,   S.,   Abbaszadegan, H., and Weiner, M. (2017).   Exploring Information Flow: Consultations between Primary and Specialty Care Clinics. International Conference on Naturalistic Decision Making. </li>

                            <li>Moayed,  F.  A.,  <strong>Savoy,  A.</strong>, and Turpen,  C.  (2017).  Study  of  Suitability  of  Computer  Workstations  Design  for  Nurses’  Work  Content.  In  G.  V.  Duffy   &amp;   N.   Lightner   (Eds.),   Advances   in   Human   Factors   and   Ergonomics in Healthcare: Proceedings of the AHFE 2016 International Conference  on  Human  Factors  and  Ergonomics  in  Healthcare,  July  27-31,  2016,  Walt  Disney  World®,  Florida,  USA  (pp.  89-101).  Cham:  Springer International Publishing. </li>

                            <li><strong>Savoy, A.</strong>, and McLeod, A. (2014, June). The Value of User Centered Design in Product   Marketing:   A   Simulated   Manufacturing   Company   Product   Offering  Market  Strategy.  In  F.-H.  Nah  (Ed.),  HCI  in  Business  (Vol. 8527, pp. 575-582): Springer International Publishing. </li>

                            <li><strong>Savoy,  A.</strong>  (2013,  March).  Investigating  the  Usability  of  Conceptual  Models:  User’s    Perspective.    Association    for    Industry,    Engineering,    and    Management Systems Conference, Cocoa Beach, FL </li>

                            <li><strong>Savoy,  A.</strong>,  and McLeod,  A.  (2013).  A  Precursory  Look  at  Potential  Interaction  Objectives  Affecting  Flexible  Robotic  Cell  Safety.  In  S.  Yamamoto  (Ed.), Human Interface and the Management of Information. Information and  Interaction  for  Health,  Safety,  Mobility  and  Complex  Environments(Vol. 8017, pp. 198-206): Springer Berlin Heidelberg.  </li>
                            
                            <li>Robinson, J., <strong>Savoy,  A.</strong>, Strater,  L.,  Endsley,  M.,  and  Hyatt,  J. (2011, October). The networked patrol leader:  The  need  for  technologies  with  a  user focus.    Paper   presented   at   the   IEEE 6thAnnual   Network   Science   Workshop, West Point, NY. </li>

                            <li>McLeod,   A.,   and   <strong>Savoy,   A.</strong>   (2009,   June). Problem-based   learning   in   an   introductory level lean manufacturing systems course. Paper presented at the American  Society  of  Engineering  Education Annual  Conference  &amp;  Exposition, Austin, TX. [Best Paper Nominated] </li>

                            <li><strong>Savoy, A.</strong>, and Salvendy, G. (2007, July). Effectiveness of content preparation in information  technology  operations:  Synopsis  of  a  working  paper.  In Jacko,  J  (Ed.),  Human  Computer  Interaction:  Interaction  Design  and  Usability, Lecture    Notes    in    Computer    Science, 4550,    624-631.Heidelberg, Germany: Springer.  </li>

                            <li><strong>Savoy, A.</strong> (2000, April). A single strategy  for  multiple threads. Paper presented at the National  Conference  on  Undergraduate  Research,  Missoula,  Montana. </li>
                        </ul>
                    </div>
                    
                </div>

                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    
    <section style="background: #C3C3E5;">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="btn-scroll-4" class="btn-scroll">Conference Presentations &amp; Extended Abstracts (Peer Reviewed): 10</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:rgb(68, 50, 102);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>
                        
                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li><strong>Savoy, A.</strong>, Patel, H., Flanagan, M., Daggy, J., Barker, B., Slaven, J. Russ, A. and Weiner,  M.  (2017).  Comparison  of  Two  Electronic  Order  Forms  for  Medical    Consultation:    Think-Aloud    Usability    Assessment    With    Referring Clinicians. Human Factors and Ergonomics Annual Meeting. </li>

                            <li><strong>Savoy,  A.</strong>, Patel,  H.,  Flanagan,  M.,  Weiner,  M.,  and  Russ,  A.(2017).Usability Evaluation of VA Consultation Order Templates: Identifying Problems to Prioritize  Redesign  Efforts.  Veterans  Health  Administration’s  Health  Services Research and Development National Meeting. Washington, DC. </li>

                            <li><strong>Savoy,  A.</strong> (2017).  Practitioners’  and  User-centered Design Specialists’ Varying Perspectives  on  the  Impact  of  Usability  Priorities  and  Design.  The Patient, The Practitioner, and The Computer: Holding on to the Core of Our  Healing  Professions  in  a  Time  of  Technological  Change.  Warren  Alpert Medical School Conference. Brown University. </li>

                            <li>Militello,  L., Diiulio,  J.,  Russ,  A., <strong>Savoy,  A.</strong>, Flanagan, M., Patel,  H.,  and Weiner,   M.   (2016).   Design   Concepts   to   Support   Management   of   Outpatient Consultations in the Veterans Health Administration. Human Factors and Ergonomics Annual Meeting. </li>

                            <li><strong>Savoy, A.</strong>, Patel, H., Flanagan, M., Russ, A., Weiner, M. (2016). Templates for Ordering  Specialty  Care  Consultations  Lack  Minimalism  and  Error  Prevention:   Results   of   a   Heuristic   Evaluation. American   Medical   Informatics Association. Chicago, IL. </li>
                            
                            <li>Wu,  J.,  Militello,  L.,  Flanagan,  M.,  Barker,  B.,  Rehman,  S.,  Porter,  B.,  Adams,  J., <strong>Savoy,  A.</strong>,  Russ,  A.,  Weiner,  M.  (2016).  Barriers  and  Facilitators  to  Using  Electronic  Health  Records  for  Referrals  between  Primary  and  Specialty   Care   Clinics.   American   Medical   Informatics   Association. Chicago, IL. </li>

                            <li><strong>Savoy,   A.</strong>    (2016).   Error   Message   Design.   Applied   Human   Factors   and   Ergonomics International Conference. Orlando, Florida. </li>

                            <li>Weiner M, Barker B, Midboe A, Porter B, Adams J, Wu J, Flanagan M, <strong>Savoy A</strong>,  Rehman  S,  Abbaszadegan  H,  Russ  A,  Thurmond  C,  Haggstrom  D,  Frankel   R,   Militello   L.  (2016). Cognitive   challenges,   technological   factors,   and   communication   of   medical   referrals   and   consultations. International  Symposium  on  Human  Factors  and  Ergonomics  in  Health  Care: Shaping the Future, San Diego, CA.  </li>

                            <li><strong>Savoy, A.</strong> (2013) Providing Useful Information on Websites: Understanding the Impact  of  Demographics  on  Customer  Information  Satisfaction.  19thAcademy  of  Business  Research  Fall  International  Conference,  Montego  Bay, Jamaica. [Best Paper Award]  </li>

                            <li><strong>Savoy,  A.</strong> (2013).  Investigating  the  Usability  of  Conceptual  Models:  Users’  Perspective. 19th   International AnnualIndustry   Engineering   and   Management Systems Conference, Cocoa Beach, FL.  </li>
                        </ul>
                    </div>
                    
                </div>
                        
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>
        
    <section style="background: #F9F9F9">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="btn-scroll-5" class="btn-scroll">Media Articles: 2</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:rgb(217,162,137);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Patel, H., <strong>Savoy, A.</strong>, &amp; Weiner, M.(2017). Applying usability heuristics to improve outpatient consultation orders. The Human Factors Quarterly. (18). </li>
                            
                            <li><strong>Savoy, A.</strong> (2016). At the Intersection of Human Computer Interaction, Human Factors, and Informatics: An Interview with April Savoy, PhD. The Savoy   7Human Factors Quarterly. (14). </li>
                        </ul>
                    </div>
                    <br><br>
                </div>

                </div>
                
                <div class="col-sm-12">
                    <h1 id="btn-scroll-6" class="btn-scroll">Invited Talks: 8</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:rgb(217,162,137);stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li><strong>Savoy,  A.</strong>  (2016).At  the  Intersection  of  Human  Computer  Interaction,  Human  Factors,  and  Informatics:  An  Interview  with  April  Savoy,  PhD.  The Human Factors Quarterly. (14).  </li>

                            <li><strong>Savoy,  A.</strong> (2014,  January).  Usability:  The  other  set  of  vital  signs.  Richard  L.  Roudebush Veterans Affairs Medical Center, Indianapolis, IN. </li>

                            <li><strong>Savoy, A.</strong> (2013, November). Research Insights in Human Computer Interaction and  Informatics.Purdue  University  Human Factors  and  Ergonomics  Society, West Lafayette, IN. </li>

                            <li><strong>Savoy,  A.</strong> (2006,  July).  2nd  generation  usability  evaluation  for  gaming:  What  gamers  want  and  how  gamers  want  it. David  and  Lucile  Packard  Foundation Graduate Scholars Conference, Washington, D.C.  </li>
                            
                            <li><strong>Savoy,    A.</strong> (2005,    July).    Electronic    medical    record:    Human    factors improvements  for  the  front-end.   David  and  Lucile  Packard  Foundation  Graduate Scholars Conference, Monterey, California. </li>

                            <li><strong>Savoy,  A.</strong> (2004,  July).  Key  management  for  mobile  wireless  sensor  networks. David  and  Lucile  Packard  Foundation  Graduate  Scholars  Conference,  Washington, D.C. </li>

                            <li><strong>Savoy,  A.</strong> (2002,  October).  User  interfaces:  Utilizing  the  small  screen.  Model Institutions for Excellence Annual Conference, New Orleans, Louisiana. </li>

                            <li><strong>Savoy,  A.</strong> (2001,  July). B2B  platforms  for  e-business. Leadership  Alliance  Symposium. Stone Mountain, Georgia.  </li>
                        </ul>
                    </div>
                    
                </div>

                </div>
                
                
                
            </div>
        </div>
        <br>
        <br>
    </section>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://webdesign9.in/js/jquery.js"></script>
    <script src="http://webdesign9.in/js/bootstrap.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.13/js/mdb.min.js"></script>
            
    <script src="js/index.js"></script>
</body>

</html>